.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.form-grid > div {
    display: flex;
    flex-direction: column;
}

.subdivision-group {
    grid-column: span 2;
}

button {
    grid-column: span 2;
}
